<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>許志強老師 - 生日大快樂</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="@Url.Content("~/lib/iPortfolio-pro/assets/img/favicon.png")" rel="icon">
    <link href="@Url.Content("~/lib/iPortfolio-pro/assets/img/apple-touch-icon.png")" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="@Url.Content("~/lib/iPortfolio-pro/assets/vendor/aos/aos.css")" rel="stylesheet">
    <link href="@Url.Content("~/lib/iPortfolio-pro/assets/vendor/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/lib/iPortfolio-pro/assets/vendor/bootstrap-icons/bootstrap-icons.css")"
        rel="stylesheet">
    <link href="@Url.Content("~/lib/iPortfolio-pro/assets/vendor/boxicons/css/boxicons.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/lib/iPortfolio-pro/assets/vendor/glightbox/css/glightbox.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/lib/iPortfolio-pro/assets/vendor/swiper/swiper-bundle.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/lib/font-awesome/css/all.css")" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="@Url.Content("~/lib/iPortfolio-pro/assets/css/style.css")" rel="stylesheet">
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet">

    @await RenderSectionAsync("Styles", required: false)
    <!-- =======================================================
  * Template Name: iPortfolio - v3.7.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

    <!-- ======= Mobile nav toggle button ======= -->
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

    <!-- ======= Header ======= -->
    <header id="header">
        <div class="d-flex flex-column">

            <div class="profile">
                <img src="@Url.Content("~/images/users/johnson.jpg")" alt=""
                    class="img-fluid rounded-circle">
                <h1 class="text-light">Happy Birthday</h1>
            </div>

            <nav id="navbar" class="nav-menu navbar">
                <ul>
                    <li><a href="@Url.Action("Index" , "Home" , new {area = ""})" class="nav-link scrollto active"><i class="bx bx-home"></i>
                            <span>Home</span></a></li>
                    <li><a href="@Url.Action("Init" , "User" , new {area = ""})" class="nav-link scrollto"><i class="bx bx-envelope"></i>
                            <span>Bless</span></a></li>
                </ul>
            </nav><!-- .nav-menu -->
        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
        <div class="hero-container" data-aos="fade-in">
            <h1>親愛的 Johnson 老師</h1>
            <p>願您 <span class="typed" data-typed-items="好花常開, 好景常在, 好運永遠盈滿胸懷, 錢錢永遠花不完"></span></p>
        </div>
    </section><!-- End Hero -->

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <div class="copyright">
                &copy; 大數據分析及系統設計班</br><strong><span>許小焰(2024.05.09)</span></strong>
            </div>

        </div>
    </footer><!-- End  Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="@Url.Content("~/lib/iPortfolio-pro/assets/vendor/purecounter/purecounter.js")"></script>
    <script src="@Url.Content("~/lib/iPortfolio-pro/assets/vendor/aos/aos.js")"></script>
    <script src="@Url.Content("~/lib/iPortfolio-pro/assets/vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/lib/iPortfolio-pro/assets/vendor/glightbox/js/glightbox.min.js")"></script>
    <script src="@Url.Content("~/lib/iPortfolio-pro/assets/vendor/isotope-layout/isotope.pkgd.min.js")"></script>
    <script src="@Url.Content("~/lib/iPortfolio-pro/assets/vendor/swiper/swiper-bundle.min.js")"></script>
    <script src="@Url.Content("~/lib/iPortfolio-pro/assets/vendor/typed.js/typed.min.js")"></script>
    <script src="@Url.Content("~/lib/iPortfolio-pro/assets/vendor/waypoints/noframework.waypoints.js")"></script>
    <script src="@Url.Content("~/lib/iPortfolio-pro/assets/vendor/php-email-form/validate.js")"></script>

    <!-- Template Main JS File -->
    <script src="@Url.Content("~/lib/iPortfolio-pro/assets/js/main.js")"></script>
    @await RenderSectionAsync("ScriptsBody", required: false)
</body>

</html>